In [140]:
"""Public High School Student Data including 
    Gender, Grade, Hours of Study of the Students"""
import pandas as pd

In [135]:
# import data, create DataFrame
df = pd.read_csv('algebradata.csv')
df.tail(10)

        Fname      Lname Gender Grade  Hours of Study
989      Lisa     Rogers      F     D              21
990     Karen     Looner      F     A              28
991     Peter     Carter      M     D              25
992  Samantha      Baker      F     A              24
993      Mike       Sapp      M     D              24
994    Harold     Looner      M     D              11
995     Paula      Moore      F     C               6
996    Martin   Franklin      M     C              25
997    Nicole  Henderson      F     A              20
998  Veronica   Harrison      F     D              21

In [100]:
# Percentage of students with a passing grade
num_failed = df[df['Grade']=='F'].count()[0]
num_total = df.count()[0]
num_passed = num_total - num_failed
percent_failed = (num_failed/num_total)*100
percent_passed = (num_passed/num_total)*100
print(f'Percentage of students with a Passing grade: {round(percent_passed,2)}%, and Failed : {round(percent_failed,2)}%')

Percentage of students with a Passing grade: 91.69%, and Failed : 8.31%

In [139]:
#Percentage of women with a passing grade
women_passed = df.loc[(df['Gender']=='F') & (df['Grade']!='F')]
percent_passed_women = (women_passed.count()[0]/num_total)*100
print(f'Women Passed: {round(percent_passed_women,2)}%')

Women Passed: 49.45%

In [134]:
# Average hours of study for all students
total_hours = df[['Hours of Study']].sum()[0]
average_hours = total_hours/df[['Hours of Study']].count()[0]
print(f'Avg. hours of study for all Students : {round(average_hours,2)}')

Avg. hours of study for all Students : 15.12

In [138]:
# Average hours of study for students with a passing grade
student_passed = df.loc[df['Grade']!='F'].count()[0]
average_hours_passed = total_hours/student_passed
print(f'Avg. hours of study for Students with a Passing Grade : {round(average_hours_passed,2)}')

Avg. hours of study for Students with a Passing Grade : 16.48