In [1]:
"""Car Sales Data including the gender, years of experience, sales
        training, and hours worked per week for each team member"""
import pandas as pd

In [113]:
# import data, Create DataFrame
df_sales = pd.read_csv('axisdata.csv')
df_sales.columns = ['Fname','Lname','Gender','HoursPerWeek','SalesTraining','YearsExperience','CarsSold']
df_sales.head(10)

,Fname,Lname,Gender,HoursPerWeek,SalesTraining,YearsExperience,CarsSold
0,Jada,Walters,F,39,N,3,2
1,Nicole,Henderson,F,46,N,3,6
2,Tanya,Moore,F,42,Y,4,6
3,Ronelle,Jackson,F,38,Y,5,3
4,Brad,Sears,M,33,N,4,2
5,Jackie,Rogers,F,45,Y,5,3
6,Oliver,Vaughn,M,46,N,5,3
7,Carla,Sapp,F,39,Y,3,6
8,Karen,Moore,F,33,Y,2,5
9,Roger,Kane,M,38,N,4,5

In [114]:
# Average cars sold per month
avg_car_month = df_sales[['CarsSold']].sum()[0]/12
print(f'Average cars sold per month : {round(avg_car_month,2)}')

Average cars sold per month : 326.58

In [115]:
# Max/Min cars sold per month
max_car = df_sales['CarsSold'].max()
min_car = df_sales['CarsSold'].min()
print(f'Max: {max_car}, Min: {min_car}')

Max: 7, Min: 1

In [117]:
# Average cars sold per month by gender
car_sold_f = df_sales.loc[df_sales['Gender']=='F'][['CarsSold']].sum()[0]
number_f = df_sales.loc[df_sales['Gender'] == 'F'].count()[0]
car_sold_m = df_sales.loc[df_sales['Gender']=='M'][['CarsSold']].sum()[0]
number_m = df_sales.loc[df_sales['Gender'] == 'M'].count()[0]
avg_f = car_sold_f/number_f
avg_m = car_sold_m/number_m
print(f'Avg car sold by Female: {round(avg_f,2)}, Avg car sold by Male: {round(avg_m,2)}')

Avg car sold by Female: 3.76, Avg car sold by Male: 4.08

In [120]:
# Average hours worked by people selling more than three cars per month
avg_hour = df_sales.loc[df_sales['CarsSold'] > 3][['HoursPerWeek']].sum()[0]/df_sales.loc[df_sales['CarsSold'] > 3][['HoursPerWeek']].count()[0]
print(f'Avg Hours per Week : {round(avg_hour,2)} hours')

Avg Hours per Week : 34.74 hours

In [121]:
# Average years of experience for people selling more than three cars per month
avg_year = df_sales.loc[df_sales['CarsSold'] > 3][['YearsExperience']].sum()[0]/df_sales.loc[df_sales['CarsSold'] > 3][['YearsExperience']].count()[0]
print(f'Avg years of experience: {round(avg_year,2)} years')

Avg years of experience: 3.05 years

In [122]:
# Average cars sold per month sorted by whether they have had sales training
trained = df_sales.loc[df_sales['SalesTraining']=='Y', ['SalesTraining','CarsSold']]
trained_car_avg = round(trained[['CarsSold']].sum()[0]/trained[['CarsSold']].count()[0],2)
untrained = df_sales.loc[df_sales['SalesTraining']=='N', ['SalesTraining','CarsSold']]
untrained_car_avg =round(untrained[['CarsSold']].sum()[0]/untrained[['CarsSold']].count()[0],2)
print(f'Avg car sold by people with Training: {trained_car_avg}, without Training: {untrained_car_avg}')

Avg car sold by people with Training: 4.17, without Training: 3.57

In [126]:
import statsmodels.formula.api as sm
result = sm.ols(formula = 'CarsSold ~ HoursPerWeek + SalesTraining ', data = df_sales).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               CarsSold   R-squared:                       0.097
Model:                            OLS   Adj. R-squared:                  0.096
Method:                 Least Squares   F-statistic:                     53.78
Date:                Fri, 13 Sep 2019   Prob (F-statistic):           6.64e-23
Time:                        18:01:37   Log-Likelihood:                -1788.7
No. Observations:                 999   AIC:                             3583.
Df Residuals:                     996   BIC:                             3598.
Df Model:                           2
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              2.0433      0.200     10.198      0.000       1.650       2.436
SalesTraining[T.Y]     0.5754      0.093      6.165      0.000       0.392       0.759
HoursPerWeek           0.0457      0.006      8.177      0.000       0.035       0.057
==============================================================================
Omnibus:                      717.219   Durbin-Watson:                   2.074
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               59.649
Skew:                           0.002   Prob(JB):                     1.12e-13
Kurtosis:                       1.803   Cond. No.                         153.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""